

.galeria{

    margin: 100px;
}
.container-galeria {
    width: 1200px;    
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.container-galeria .box{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container-galeria .box img{
    max-width: 100%;
    border-radius: 15px;
}

.box{
    border-radius: 15px;
}
.container-galeria img :hover{
    box-shadow: 0px 0px 50px rgba(0,0,0, 1);
    scale: 105%;
    transition-duration: 0.3s;
}

@media(max-width: 1200px)
{
    .container-galeria{
        
        columns: 4;
    }
}

@media(max-width: 768px)
{
    .container-galeria{
        
        columns: 2;
    }
}

@media(max-width: 480px)
{
    .container-galeria{
        
        columns: 1;
    }
}




/* Estilos generales */
.album {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    columns: auto;
    
}

.album-cover {
    max-width: 300px;
    border-radius: 20px;
}

.modal {
    
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(auto);
    
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 90%;
    text-align: center;
}

.modal-content img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.modal-controls {
    margin-top: 20px;
}

.prev,
.next {
    background-color: #2072be;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.close-modal {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}