


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  /* Paleta anterior
  --white-color:                  #ffffff;
  --primary-color:                #81B29A;
  --secondary-color:              #3D405B;
  --section-bg-color:             #F4F1DE;
  --custom-btn-bg-color:          #F2CC8F;
  --custom-btn-bg-hover-color:    #E07A5F;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --link-hover-color:             #F2CC8F;

*/
/*Paleta nueva*/
--white-color:                  #ffffff;
--primary-color:                #fbd304; /* Cambiado */
--secondary-color:              #050504; /* Cambiado */
--section-bg-color:             #F4F1DE;
--custom-btn-bg-color:          #967d04; /* Cambiado */
/*--custom-btn-bg-hover-color:    #4876d1; /* Cambiado */
--custom-btn-bg-hover-color:    #70a8fc; /* Cambiado */ 
--dark-color:                   #000000;
--p-color:                      #717275; /* Cambiado */
--link-hover-color:             #8588d1; /* Cambiado  */
--back-ground-color-nav:        #416cbf; 




  --body-font-family:             'DM Sans', sans-serif;

  --h1-font-size:                 42px;
  --h2-font-size:                 36px;
  --h3-font-size:                 28px;
  --h4-font-size:                 24px;
  --h5-font-size:                 22px;
  --h6-font-size:                 20px;
  --p-font-size:                  18px;
  --menu-font-size:               16px;
  --btn-font-size:                14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-bold:             700;
}

/*---------------------------------------
  estilos animacion               
-----------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-container {
    block-size: 100vh;
    display: grid;
    place-content: center;
    gap: 1rem;
    font-family: "Lato", sans-serif;
    background-color: yellow;
}

.text-container {
    display: flex;
    justify-content: center;
    block-size: min(10rem, 23vw);
    min-inline-size: 22.5rem;
}

.text-stroke {
    font-size: 92px;
    letter-spacing: 4px;
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: textStrokeAnim 4000ms linear both;
    animation-iteration-count: 1;
}

.reset {
    width: max-content;
    margin-inline: auto;
    padding: 0.5em 1.25em;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 0;
    position: relative;
    background-color: hsl(49deg, 100%, 62%);
    color: var(--dark-color);
}

.reset::after,
.reset::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: all 66ms ease;
}

.reset::after {
    box-shadow: 0 0.25rem 0.5rem #0003, -0.124rem 0.5rem 0.45rem #0002;
    opacity: 1;
}

.reset::before {
    box-shadow: inset 0 1px 0.5px 0px #0C0B0B, inset 0 -2px 0.5px 0px #fff9,
        inset 0 4px 10px 0px #0007, inset 0 -4px 16px 0px #fff7;
    opacity: 0;
}

.reset:focus-visible {
    outline: 2px solid #0ebeff;
    outline-offset: 1px;
}

.reset:active {
    scale: 0.98;
}

.reset:is(:active, :focus-visible)::after {
    opacity: 0;
}

.reset:active::before {
    opacity: 1;
}

@keyframes textStrokeAnim {
    0% {
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        fill: #0000;
    }
    95% {
        stroke-dasharray: 0%;
        stroke-dashoffset: 90%;
        fill: var(--dark-color);
    }
    100% {
        stroke-dasharray: 0%;
        stroke-dashoffset: 0%;
        fill: var(--white-color);
        filter: drop-shadow(2px 2px 10px var(--dark-color));
    }
}


/*---------------------------------------
  svg menu               
-----------------------------------------*/
.mi-svg path {
  fill: var(--primary-color); /* Define el color de relleno aquí */
}


/*---------------------------------------
  cuerpo pagina               
-----------------------------------------*/

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-bg {
  background-color: var(--section-bg-color);
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-overlay {
  content: "";
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.01) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}


/*---------------------------------------
  ANIMATED HEADLINE               
-----------------------------------------*/
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  color: var(--primary-color);
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.rotate-1 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-animation: cd-rotate-1-in 1.2s;
  -moz-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: cd-rotate-1-out 1.2s;
  -moz-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes cd-rotate-1-in {
  0% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -moz-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cd-rotate-1-out {
  0% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -moz-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-group .link {
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
}

.custom-btn-group .link:hover {
  color: var(--link-hover-color);
}


/*---------------------------------------
  NAVIGATION BAR & OFFCANVAS              
-----------------------------------------*/
.offcanvas {
  background-color: var(--primary-color);
  padding: 30px;
}

.offcanvas.offcanvas-end {
  border-left: 0;
}

.offcanvas-header .btn-close {
  transition: all 0.3s;
}

.offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
}

.offcanvas svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  /*background-color: rgb(61 64 91);*/
  background-color: var(--back-ground-color-nav);
}

.navbar {
  background: transparent;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
  color: var(--dark-color);
  max-width: 48px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: var(--white-color);
}

.navbar .navbar-brand-image {
  filter: brightness(0) invert(1);
}

.navbar-brand-image {
  width: 48px;
  height: 48px;
  
}

.navbar-brand-text {
  line-height: normal;
  margin-left: 10px;
  position: relative;
  bottom: 5px;
}

.navbar-brand-text small {
  display: block;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--link-hover-color);
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--link-hover-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-image: url('../images/foto_portada_principal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 670px;
  margin-bottom: -90px;
}



.hero-50 {
  height: auto;
  min-height: 540px;
  margin-bottom: -100px;
}

.hero-50 .container + svg {
  transform: rotate(180deg);
}

.hero-section .ratio {
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.hero-section svg {
  position: absolute;
  right: 0;
  left: 0;
}

.hero-section > svg {
  top: 0;
}

.hero-section .container + svg {
  top: auto;
  bottom: -1px;
}

.hero-section .row {
  position: relative;
  z-index: 22;
}


/*---------------------------------------
  BACKGROUND IMAGE SECTION        
-----------------------------------------*/
.section-bg-image {
  background-image: url('../images/foto_boletin_suscripcion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: -70px;
}

.section-bg-image .container + svg {
  transform: rotate(180deg);
  position: relative;
  bottom: -1px;
}

.section-bg-image-block {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: var(--border-radius-medium);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: var(--border-radius-medium);
  padding: 50px;
}

.section-bg-image-block .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.section-bg-image-block .input-group-text {
  background-color: transparent;
  border: 0;
}

.section-bg-image-block input[type="email"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.section-bg-image-block button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}


/*---------------------------------------
  ABOUT SECTOIN              
-----------------------------------------*/
.about-section {
  padding-bottom: 70px;
}

.member-block-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.member-block-image-wrap:hover .member-block-image {
  transform: scale(1.2);
}

.member-block-image-wrap:hover .social-icon {
  opacity: 1;
}

.member-block-image-wrap .social-icon {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
  padding: 15px 20px;
  width: auto;
}

.member-block-image {
  transition: all 0.3s;
}

.member-block-info {
  padding: 10px;
}

.member-block-info h4,
.member-block-info p {
  margin-bottom: 0;
}


/*---------------------------------------
  CUSTOM BLOCK              
-----------------------------------------*/
.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px 20px;
}

.custom-block-bg {
  background: var(--white-color);
}

.custom-block-date-wrap {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  text-align: center;
  padding: 20px 30px;
}

.custom-block-date {
  font-size: var(--h1-font-size);
}

.custom-block-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.custom-block-image-wrap:hover .custom-block-image {
  transform: scale(1.2);
}

.custom-block-image-wrap:hover .custom-block-icon {
  opacity: 1;
}

.custom-block-image {
  transition: all 0.3s;
}

.custom-block-image-wrap .custom-block-date-wrap,
.custom-block-image-wrap .custom-btn-wrap {
  position: absolute;
  bottom: 0;
}

.custom-block-image-wrap .custom-block-date-wrap {
  border-radius: 0;
  left: 0;
  width: 50%;
  padding: 12.30px 20px;
}

.custom-block-image-wrap .custom-btn-wrap {
  right: 0;
  width: 50%;
}

.custom-block-image-wrap .custom-btn  {
  border-radius: 0;
  display: block;
  padding: 15px 20px;
}

.custom-block-info {
  padding-top: 10px;
}

.custom-block-image-wrap + .custom-block-info {
  padding-top: 20px;
}

.custom-block-span {
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  min-width: 110px;
  margin-right: 10px;
}

.custom-block-icon {
  background: var(--custom-btn-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: var(--h3-font-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}

.custom-block-icon:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}


/*---------------------------------------
  EVENTS SECTION            
-----------------------------------------*/
.events-section.section-bg .container > .row {
  margin-right: 5px;
  margin-left: 5px;
}

.events-section.section-bg .container > .row .row {
  margin: auto;
}

.events-listing-section {
  margin-bottom: 100px;
}

.events-detail-section .custom-block-info {
  padding: 40px 60px;
}

.events-detail-info {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-medium);
  padding: 50px 25px;
}

.events-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-medium);
}


/*---------------------------------------
  MEMBERSHIP SECTION            
-----------------------------------------*/
.membership-section .container {
  position: relative;
  z-index: 2;
}

.table-responsive {
  border-radius: var(--border-radius-medium);
}

.table-responsive tbody, 
.table-responsive td, 
.table-responsive tfoot, 
.table-responsive th, 
.table-responsive thead, 
.table-responsive tr {
  border: 0;
}

.table-responsive thead tr {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.table-responsive thead th {
  padding: 22px 16px !important;
}

.table-responsive tbody tr:nth-child(even) {
  background-color: var(--section-bg-color);
}

.table>:not(caption)>*>* {
  padding: 18px 16px;
}

.table-responsive .bi-check-circle-fill {
  color: var(--primary-color);
}

.table-responsive .bi-x-circle-fill {
  color: var(--custom-btn-bg-hover-color);
}

.membership-form {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  padding: 35px;
}

.membership-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 100px;
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 120px;
}

.contact-info {
  position: relative;
}

.contact-info-item {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-info-body {
  padding: 20px 30px;
}

.contact-info-body strong,
.contact-info-item a {
  color: var(--white-color);
}

.contact-info-footer {
  background-color: var(--custom-btn-bg-hover-color);
  padding: 10px 20px;
  transition: all 0.3s;
}

.contact-info-footer:hover {
  background-color: var(--custom-btn-bg-color);
}

.contact-info-footer a {
  display: block;
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SITE FOOTER            
-----------------------------------------*/
.site-footer {
  position: relative;
  padding-bottom: 200px;
}

.site-footer .container {
  position: relative;
  z-index: 2;
}

.site-footer svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.site-footer-title {
  color: var(--secondary-color);
}

.site-footer p span {
  font-weight: var(--font-weight-medium);
  margin-right: auto;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  border-width: 2px;
  box-shadow: none;
  color: var(--p-color);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.custom-form .form-control:focus,
.custom-form .form-control:hover {
  border-color: var(--dark-color);
}

.form-floating>label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
  padding-left: 10px;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

.header-form {
  position: relative;
}

.header-form .form-control {
  padding-left: 42px;
}

.header-form-icon {
  width: 24px;
  position: absolute;
  top: 0;
  margin: 12px;
  margin-left: 15px;
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .navbar {
    /*background-color: var(--secondary-color);*/
    background-color: var(--back-ground-color-nav);

  }

  .navbar-nav .dropdown-menu {
    position: relative;
    left: 10px;
    opacity: 1;
    pointer-events: auto;
    max-width: 155px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 5px;
    padding: 0;
  }

  .hero-section {
    position: relative;
    top: 82px;
    margin-bottom: 82px;
  }

  .events-listing-section {
    margin-bottom: 50px;
  }

  .events-detail-section .custom-block-info {
    padding: 40px;
  }

  .events-detail-info {
    padding: 35px 25px;
  }

  .contact-info-item {
    width: 60%;
  }

  .events-detail-section .contact-info-item {
    width: 70%;
  }

  .section-bg-image {
    margin-bottom: 0;
  }

  .section-bg-image-block {
    padding: 30px;
  }

  .site-footer {
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-brand {
    font-size: var(--p-font-size);
  }

  .navbar-brand-icon {
    width: 30px;
    height: 30px;
  }

  .navbar-brand-icon::after {
    top: 5px;
  }

  .section-bg-image-block {
    padding: 30px;
  }

  .contact-info-item {
    width: 72%;
  }
}

@media screen and (max-width: 360px) {
  .custom-btn {
    font-size: 12px;
    padding: 4px 12px;
  }
}

.oculto{
  display: none;
}



/*---------------------------------------
  CUSTOM BUTTON PODCAST           
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--primary-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}


/*---------------------------------------
  CUSTOM BLOCK PODCAST          
-----------------------------------------*/
.custom-block-podcast {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
}

.custom-block-podcast:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-color: transparent;
  transform: translateY(-3px);
}

.custom-block-info-podcast {
  display: block;
  padding: 10px 20px;
  padding-bottom: 0;
}

.custom-block-image-wrap-podcast {
  position: relative;
  display: block;
  height: 100%;
}

.custom-block-image-wrap-podcast > a {
  display: block;
}

.custom-block-image-podcast {
  border-radius: var(--border-radius-medium);
  display: block;
  width: 112px;
  height: 112px;
  object-fit: cover;
}

.custom-block-image-detail-page-podcast .custom-block-image-podcast {
  width: 100%;
  height: 212px;
}

.custom-block-podcast .custom-block-icon-podcast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-block-icon-wrap-podcast {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.custom-block-icon-wrap-podcast .section-overlay {
  opacity: 0.25;
}

.custom-block-btn-group-podcast {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
}

.custom-block-btn-group-podcast .custom-block-icon-podcast {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.custom-block-icon-podcast {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--p-font-size);
  color: var(--white-color);
  text-align: center;
  width: 32.5px;
  height: 32.5px;
  line-height: 32.5px;
  transition: all 0.3s;
}

.custom-block-icon-podcast:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-block-podcast .custom-btn-podcast {
  font-size: var(--menu-font-size);
  padding: 7px 15px;
}

.custom-block-podcast .custom-block-info-podcast + div .badge {
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px !important;
  font-size: var(--menu-font-size);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-block-podcast .custom-block-info-podcast + div .badge:hover {
  background-color: var(--custom-btn-bg-hover-color);
}

.custom-block-full-podcast {
  background-color: var(--section-bg-color);
  border-color: transparent;
}

.custom-block-full-podcast:hover {
  border-color: var(--primary-color);
}

.custom-block-full-podcast .custom-block-info-podcast {
  padding: 20px;
  padding-bottom: 0;
}

.custom-block-full-podcast .custom-block-image-podcast {
  width: 100%;
  height: 210px;
}

.custom-block-full-podcast .social-share-podcast {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}

.custom-block-top-podcast small {
  color: var(--p-color);
  font-family: var(--title-font-family);
}

.custom-block-top-podcast .badge {
  background-color: var(--secondary-color);
  color: var(--white-color);
  display: inline-block;
  vertical-align: middle;
  height: 26.64px;
  line-height: 20px;
}

.custom-block-bottom-podcast a:hover span {
  color: var(--primary-color);
}

.custom-block-bottom-podcast a span {
  font-family: var(--title-font-family);
  color: var(--p-color);
  text-transform: uppercase;
  margin-left: 3px;
}

.custom-block-overlay-podcast {
  border-color: transparent;
  padding: 0;
}

.custom-block-overlay-podcast .custom-block-image-podcast {
  margin: auto;
  width: 100%;
  height: 210px;
  transition: all 0.3s;
}

.custom-block-overlay-podcast:hover .custom-block-image-podcast {
  padding: 15px;
  padding-bottom: 0;
}

.custom-block-overlay-info-podcast {
  padding: 15px 20px 20px 20px;
}


/*---------------------------------------
  PROIFLE BLOCK PODCAST           
-----------------------------------------*/
.profile-block {
  margin-top: 10px;
}

.profile-block-image {
  border-radius: var(--border-radius-large);
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.profile-block p strong {
  display: block;
  font-family: var(--title-font-family);
}

.profile-detail-block {
  border: 1px solid #dee2e6;
  border-radius: var(--border-radius-large);
  padding: 25px 35px;
}

.profile-detail-block p {
  margin-bottom: 0;
}

/*---------------------------------------
  hero-section - Team_card          
-----------------------------------------*/
/*---------------------------------------
  CAROUSEL        
-----------------------------------------*/
.hero-section-team {
  background-image: url('../images/templatemo-wave-banner.jpg'), linear-gradient(#348CD2, #FFFFFF);
  background-repeat: no-repeat;
  background-size: 108% 76%;
  background-position: top;
  padding-top: 20px;
}


.owl-carousel {
  text-align: center;
}

.owl-carousel-image {
  display: block;
}

.owl-carousel .owl-item .owl-carousel-verified-image {
  display: inline-block;
  width: 30px;
  height: auto;
  position: relative;
  right: 5px;
}

.verified-image {
  display: inline-block;
  width: 20px;
  height: auto;
}

.owl-carousel .owl-item {
  opacity: 0.35;
}

.owl-carousel .owl-item.active.center {
  opacity: 1;
}

.owl-carousel-info-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  text-align: left;
}

.owl-carousel-info {
  background-color: var(--section-bg-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.badge {
  background-color: var(--custom-btn-bg-hover-color);
  font-family: var(--body-font-family);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  padding-bottom: 5px;
}

.owl-carousel-info-wrap .social-share,
.team-thumb .social-share {
  position: absolute;
  right: 0;
  bottom: 0;
}

.owl-carousel-info-wrap .social-icon,
.team-thumb .social-icon {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(0);
  padding-right: 20px;
  padding-left: 20px;
}

.owl-carousel .owl-item.active.center .owl-carousel-info-wrap:hover .social-icon,
.team-thumb:hover .social-icon {
  transform: translateY(-100%);
  opacity: 1;
}

.owl-carousel-info-wrap .social-icon-item,
.owl-carousel-info-wrap .social-icon-link,
.team-thumb .social-icon-item,
.team-thumb .social-icon-link {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
}

.owl-carousel-info-wrap .social-icon-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.owl-carousel .owl-dots {
  background-color: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: var(--border-radius-large);
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  padding: 15px 25px;
  padding-bottom: 7px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 40px;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}