<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Registro de videos</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="inputCodeVideo" class="label">Código video</label>
            <input type="text" nbInput fullWidth id="codeVideo" placeholder="Code">
          </div>
          <div class="form-group">
            <label for="inputTitleVideo" class="label">Titulo</label>
            <input type="text" nbInput fullWidth id="inputTitle" placeholder="Título">
          </div>
          <div class="form-group">
            <label for="inputDescriptionVideo" class="label">Descripción</label>
            <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Descripción"></textarea>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Tipo</label>
            <div class="col-sm-9">
              <nb-radio-group [(ngModel)]="option">
                <nb-radio
                  *ngFor="let option of options"
                  [value]="option.value">
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <button type="submit" nbButton status="success">Guardar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>